body {
    background-color: #dfad68;
}

.bg-chess {
    background-color: #432618;
}

.chess-text-light {
    color: #dfad68;
}

.chess-text {
    color: #432618;
}

.login-box {
    width: 25em;
    margin: auto;
    margin-top: 1em;
}

.btn-login {
    margin: 0em 1em;
}

.login-alert {
    width: 25em;
    margin: auto;
    margin-top: 1em;
    margin-bottom: 1em;
    visibility: hidden;
}

.nav-link {
    color: #dfad68 !important;       
}

.game-card {
    width: 20em;
}

.game-card-set {
    margin-top: 2em;
}

.card {
    background-color: #432618;
    color: #dfad68;       
}

.card-img-top {
    width: 19.9em;
    height: 11.2em;
    object-fit: cover;
}

.btn-primary {
    background-color: #dfad68;
    color: #432618;
}

.btn-primary:hover {
    background-color: #432618;
    color: #dfad68;  
}

.user-list {
    width: 30em;
    margin-top: 1em;
}

.user-list-entry {
    border-top: 1px solid #432618 !important;
    border-bottom: 1px solid #432618 !important;
}

.chat-container {
    padding-top: 1em;
    height: calc(100vh - 3em);
    max-height: calc(100vh - 3em);
}

.chat-me {
    background-color: #a4cdfc;
    color: #000000;
    border-radius: 10px;
    max-width: 90%;
}

.chat-other {
    background-color: #ffffff;
    color: #000000;   
    border-radius: 10px;  
    max-width: 90%;
}

.chat-input {
    bottom: 1em;
}

.chat-scrollbox {
    overflow-y: auto; 
    height: calc(100vh - 8.5em);
    -ms-overflow-style: none;
    scrollbar-width: none; 
}

.chat-scrollbox::-webkit-scrollbar {
    display: none;
}

#canvasParentDiv {
    height: calc(100% - 5em);
}