<div class="container chat-container" th:attr="onload=|chat_init(${myuid}, ${game}, ${matchid})|">
    <script th:inline="javascript">
        chat_init(/*[[${myuid}]]*/, /*[[${game}]]*/, /*[[${matchid}]]*/);
    </script>
    <div id="chatLog" class="container chat-scrollbox"></div>
    
    <div class="row chat-input" style="width: 100%;">
        <form onsubmit="return false;">               
            <div class="input-group" style="width: 100%; margin-right: 30px;">
                    <input type="text" class="form-control" id="messageText">
                    <input type="submit" class="btn" onclick="chat_sendMessage()" value="Send"/>
            </div>
        </form>
    </div>

</div>

