<!DOCTYPE html>
<html>
    <head>
        <title>Queue</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">       
        <link rel="stylesheet" href="/style.css" type="text/css"/>
        
        <script src="/webjars/jquery/jquery.min.js"></script>
        <script src="/webjars/sockjs-client/sockjs.min.js"></script>
        <script src="/webjars/stomp-websocket/stomp.min.js"></script>
        
        <script src="/queue.js"></script>
    </head>
    <body th:attr="onload=|connect(${myuid})|">
        <div class="nabvar navbar-dark bg-chess">
            <h1 class="chess-text-light" style="margin: 0em 1em" th:text="${game}">%Game Title%</h1>    
        </div>
        
        <div class="container user-list">
            <table class="table">
                <thead>
                    <tr>
                        <th class="user-list-entry align-middle">Username</th>
                        <th class="user-list-entry"></th>
                    </tr>
                </thead>
                <tbody id="userlist">   
                    <tr th:each="user: ${users}">
                        <td class="user-list-entry align-middle" th:text="${user.username}"><i>No users waiting to play</i></td>
                        <td class="user-list-entry" th:if="${#lists.size(users) > 0}">
                            <a class="btn btn-primary border-0" th:attr="onclick=|challenge('${user.uid}')|">Send Invite</a>
                        </td>
                    </tr>
                    <tr th:if="${#lists.size(users) == 0}">
                        <td class="user-list-entry align-middle"><i>No users waiting to play</i></td>
                        <td class="user-list-entry">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>