<!DOCTYPE html>
<meta name="playerColor" th:content="${playerColor}" />
<script th:src="${contextRoot}+'/gameres/go.js'"></script>
<div id="canvasParentDiv" class="justify-content-lg-start justify-content-md-center">
    <canvas id="chessCanvas" width="100" height="100" lang="ja"></canvas>
</div>

<div style="display: none">
    <span class="dropdown" id="optionsDropdown">
        <button id="optionButton" class="btn btn-dark dropdown-toggle" type="button">
            Options
        </button>
        <ul id="optionList" class="dropdown-menu dropdown-menu-dark chess-dark">
        
            <li><a id="optionLiberties" class="dropdown-item text-reset" href="#">Liberties Off</a></li>
            <li><a id="optionTerritory" class="dropdown-item text-reset activeOption" href="#">Territory On</a></li>

        </ul>
    </span>
</div>

<script th:inline="javascript">
    go.init(/*[[${myuid}]]*/, /*[[${gameFileStr}]]*/, /*[[${matchid}]]*/);
</script>