<!DOCTYPE html>
<meta name="playerColor" th:content="${playerColor}" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Yuji+Mai&display=swap" rel="stylesheet"> 
<script th:src="${contextRoot}+'/gameres/shogi/shogi.js'"></script>
<div id="canvasParentDiv" class="justify-content-lg-start justify-content-md-center">
    <canvas id="chessCanvas" width="100" height="100" lang="ja"></canvas>
</div>

<div style="display: none">
    <span class="dropdown" id="optionsDropdown">
        <button id="optionButton" class="btn btn-dark dropdown-toggle" type="button">
            Options
        </button>
        <ul id="optionList" class="dropdown-menu dropdown-menu-dark chess-dark">
            
            <li><a id="optionTraditional" class="dropdown-item text-reset activeOption" href="#">Traditional</a></li>
            <li><a id="optionAbbreviated" class="dropdown-item text-reset" href="#">Abbreviated</a></li>
            <li><a id="optionSymbols" class="dropdown-item text-reset" href="#">Symbols</a></li>
            <li><a id="optionEnglish" class="dropdown-item text-reset" href="#">English</a></li>
            <li><a id="optionHybrid" class="dropdown-item text-reset" href="#">Hybrid</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a id="optionGuide" class="dropdown-item text-reset activeOption" href="#">Piece Guides On</a></li>

        </ul>
    </span>
</div>

<script th:inline="javascript">
    
    const request = new XMLHttpRequest(); 
    request.open('GET', `${contextRoot}/gameres/shogi/${gameFileStr}.json`);
    request.onload = function () {
        if(this.readyState === 4 && this.status === 200) {
            shogi.parseGameConfig(JSON.parse(request.response));
            shogi.init(/*[[${myuid}]]*/, /*[[${game}]]*/, /*[[${matchid}]]*/);
        }
    };
    request.send();
    
</script>